form(action='/new', method='POST')
    h3= "New message"
    p
      | User: 
      input(type='text', name='user', value='')
      |          Text: 
      input(type='text', name='text', value='')
    input(type='submit', value='Submit')